*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	font-family: sans-serif;
	line-height: 1.5;
	text-rendering: optimizeSpeed;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	width: 100dvw;
	display: flex;
	justify-content: center;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

button,
input,
textarea {
	font: inherit;
}

.container {
	width: 70dvw;
	height: 100dvh;
}

header {
	padding: 20px 20px;
	background-color: blue;
	color: white;
}
main {
	padding: 20px 20px;
}

.tasks {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.task:first-child {
	border: none;
	font-weight: 700;
}
.task {
	display: flex;
	justify-content: space-between;
	border-radius: 2px;
	padding: 10px;
	border: 1px solid black;
}
